<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.ItemsMapper" >
		
		<select id="getItemLists"  resultType="com.springmvc.po.Items">
			SELECT * FROM items
		</select>
		
		<select id="findItemsById" parameterType="java.lang.Integer"   resultType="com.springmvc.po.Items">
			<!-- select * from items where id =? -->
		<!-- 	select * from items where id =#{id}  -->
				<!-- 说明： -->
				select * from items where 1=1 
				<if test="_parameter!=null">
					and id =#{_parameter,jdbcType=VARCHAR}
				</if>
		</select>
		
		
		<update id="updateitem" parameterType="com.springmvc.po.Items">
			 update items
			 <set>
			 	 <if test="name !=null and name !=''">
			 	 	name =#{name},
			 	 </if>
			 	 <if test="price !=null and price !=''">
			 	 	price =#{price},
			 	 </if>
			 	 <if test="detail !=null and detail !=''">
			 	 	detail =#{detail},
			 	 </if>
			 	 <if test="pic !=null and pic !=''">
			 	 	pic =#{pic},
			 	 </if>
			 	 <if test="createtime !=null and createtime !=''">
			 	 	createtime =#{createtime},
			 	 </if>
			 </set>
			 where id=#{id}
		</update>
		
</mapper>	